<h1>New Movie</h1>

<%= error_messages_for :movie %>

<% form_for @movie, :url => admin_movies_path do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.submit "Save" %>
<% end %>
